input[type="text"],
input[type="password"],
input[type="text"]:focus,
input[type="password"]:focus {
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 10px 13px;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
    line-height: 1;
    background: #fff;
}
