.wc-block-checkout__payment-method .wc-block-components-radio-control__label > span {
    width: 95%;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control__label > span > span {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wc-gateway-nexi-xpay-block-checkout-row {
    display: block;
}

.wc-gateway-nexi-xpay-block-checkout-additional-info {
    margin-top: 10px;
}

div.wc-block-components-payment-method-icons {
    flex-wrap: nowrap;
}

.xpay-card-container {
    border-width: 1px;
    border-style: solid;
    padding: 4px 2px 0px 10px;
    box-sizing: border-box;
}

.xpay-card-container.xpay-card-cvv {
    max-width: 60px;
}

.wc-credit-card-form.wc-payment-form.nexi-xpay-build {
    padding: 15px;
}

.nexi-xpay-build .reccurring-info-xpay {
    margin-top: 20px;
}
